In [2]:
import numpy as np
import pandas as pd

df = pd.read_excel("../data/beer_pairing.xlsx", header=1)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Blonde Ale,Hefeweizen,Witbier,Classic Pilsner,British Style Beer,American Wheat Ale,India Pale Ale,...,Pale Ale,Red/ Amber Ale,Barley Wine,Brown Ale,Old/ Strong Ale,Abbey Dubbel,Dark Lager,Porter,Sweet/ Oatmeal Stout,Imperial Stout
0,붉은 고기,소고기,beef,4,4,3,6,6,2,6,...,6,4,8,7,9,8,10,7,7,8
1,NaN,양고기,lamb,3,3,3,5,5,1,3,...,6,5,9,7,9,8,8,8,9,9
2,NaN,사슴고기,venison,2,2,3,5,6,2,4,...,5,4,8,6,9,7,8,9,7,8
3,소금에 절인 고기,살라미,salami,5,5,3,9,4,3,8,...,7,5,8,5,5,6,7,6,9,9
4,NaN,프로슈토,prosciutto,7,6,5,8,5,4,6,...,7,4,7,4,6,6,7,5,6,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,통밀 곡물,퀴 노아,quinoa,8,7,6,3,9,7,6,...,8,6,4,3,5,6,4,3,5,4
79,NaN,현미,brown rice,7,7,7,4,8,7,5,...,7,6,5,5,6,6,3,3,4,5
80,단 녹말 식물,고구마,sweet potatoes,5,4,2,5,8,2,5,...,6,5,3,6,7,5,4,2,3,4
81,NaN,타로,taro,4,5,4,4,9,1,4,...,5,5,6,5,8,6,5,3,4,7
82,감자,감자,potatoes,4,3,3,5,10,1,3,...,4,5,7,5,8,7,5,5,3,8

In [3]:
df = df.drop([df.columns[0], df.columns[1]], axis=1)

df

,Unnamed: 2,Blonde Ale,Hefeweizen,Witbier,Classic Pilsner,British Style Beer,American Wheat Ale,India Pale Ale,Double/ Imperial IPA,Oktoberfest,Pale Ale,Red/ Amber Ale,Barley Wine,Brown Ale,Old/ Strong Ale,Abbey Dubbel,Dark Lager,Porter,Sweet/ Oatmeal Stout,Imperial Stout
0,beef,4,4,3,6,6,2,6,7,9,6,4,8,7,9,8,10,7,7,8
1,lamb,3,3,3,5,5,1,3,8,9,6,5,9,7,9,8,8,8,9,9
2,venison,2,2,3,5,6,2,4,7,8,5,4,8,6,9,7,8,9,7,8
3,salami,5,5,3,9,4,3,8,8,8,7,5,8,5,5,6,7,6,9,9
4,prosciutto,7,6,5,8,5,4,6,8,8,7,4,7,4,6,6,7,5,6,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,quinoa,8,7,6,3,9,7,6,4,8,8,6,4,3,5,6,4,3,5,4
79,brown rice,7,7,7,4,8,7,5,6,5,7,6,5,5,6,6,3,3,4,5
80,sweet potatoes,5,4,2,5,8,2,5,9,5,6,5,3,6,7,5,4,2,3,4
81,taro,4,5,4,4,9,1,4,9,7,5,5,6,5,8,6,5,3,4,7
82,potatoes,4,3,3,5,10,1,3,9,8,4,5,7,5,8,7,5,5,3,8

In [14]:
def pairing(alcohol, number = 20):
    df_a = df.loc[:, ['Unnamed: 2', alcohol]]
    df_a = df_a.sort_values(by=[alcohol], ascending=False).values
    df_r = pd.DataFrame(df_a[:number], columns = ['ingredient', alcohol])
    
    return df_r

pairing('Blonde Ale')

           ingredient Blonde Ale
0        fresh cheese         10
1             chicken         10
2   mozzarella cheese         10
3             lettuce          9
4              salmon          9
5           asparagus          8
6                kale          8
7          green peas          8
8              shrimp          8
9             octopus          8
10              squid          8
11    chicken breasts          8
12     machego cheese          8
13             quinoa          8
14         brown rice          7
15           tortilla          7
16         prosciutto          7
17           radishes          7
18              gouda          7
19       green onions          7